<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740433575933-2hb48ihs0vnpq1ia90sno39g8iknvu5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740433575933-2hb48ihs0vnpq1ia90sno39g8iknvu5t</string>
	<key>API_KEY</key>
	<string>AIzaSyCM2jAcJzmXZnzXjQQaTp8vMGoFae3ErE0</string>
	<key>GCM_SENDER_ID</key>
	<string>740433575933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageApp</string>
	<key>PROJECT_ID</key>
	<string>message-app-b01a4</string>
	<key>STORAGE_BUCKET</key>
	<string>message-app-b01a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740433575933:ios:69f304d11876c8885ea394</string>
</dict>
</plist>